<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnBoardingIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80FA12BD1F21B40100800271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FA12D41F21B40200800271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FA12DF1F21B40200800271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
